*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #304868;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body, html {
    min-width: 100vw;
    max-height: 100vh;
    background-color: #fff8da;
}

.outer-container {
    max-width: 750px;
    margin: 15px auto;
}

.container {
    padding-bottom: 5px;
    background-color: #fef8e4;
    max-width: 750px;
}

.container, .answers {
    border: 2px solid #90b4ce;
    border-radius: 5px;
}

h1 {
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.title {
    background-color: #8fd7e2;
}

hr {
    border-top: 2px solid #90b4ce;
}

.question, .answers {
    margin: 15px;
}

.answers {
    background-color: #f3d2c1;
}

.answer {
    padding: 5px;
}

.answer:hover {
    background-color: #ffc0ad;
}

label:hover {
    cursor: pointer;
}

button {
    background-color: #fdcf90;
    border: 1px solid #90b4ce;
    border-radius: 5px;
    width: 100px;
    padding: 10px 0px;
    margin: 5px 15px;
    color: #203858;
}

button:hover {
    cursor: pointer;
    background-color: #f9bc60;
}